.container{
    display: grid;
    grid-template-columns: 320px auto;
    grid-template-rows:414px auto ;
    background-color: black;
    gap:10px;
    height: 748px;
    width:748px;
    grid-auto-columns: 50px;
    grid-auto-rows:  130px;
}
.row1{
    background-color: red;
}
.column2{
    background-color: aqua;
}
.row2{
background-color: beige;
}
.row3{
    background-color: grey;
}
.column3{
    grid-template-columns: 198px;
    grid-template-rows: auto;
    background-color: yellow;
}